<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new User</title>
</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>
    <h2>Add New User</h2>
    <form action="">
        <input type="text" name="username" placeholder="Enter Username" required>
        <br>
        <br>
        <input type="email" name="email" placeholder="Enter email address" required>
        <br>
        <br>
        <input type="password" name="password" placeholder="Enter password" required>
        <br>
        <br>
        <button>Add</button>
    </form>
</body>
</html>