<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        tr,th,td{
            border: 1px solid black;
        }
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="/user/new">Add new user</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th></th>
        </tr>
        <% for(data of result){ %>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.email %></td>
                <td><%= data.username %></td>
                <td>
                    <form action="/user/<%= data.id %>/edit" method="get">
                        <button>Edit Username</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>